#wrapper {
    padding:0px;
    margin:0px;
    padding-left: 50px;
}

.sidebar {
    margin-top:0px;
    margin-left: -250px;
    left: 250px;
    width: 250px;
    background: #eee;
    position: fixed;
    overflow-y: auto;
    z-index: 1000;
}

.page-content {
    width: 100%;
    padding-left:0px;
    max-width:1280px
}

#sidebar-open {
    float:left;
    margin-right:10px;
}

#sidebar-close {
    float:right; 
    cursor:pointer; 
    padding:10px;
}

/*------------*/

#actions{
text-align: right;
margin: 45px 25px 10px;
}

#actions div{
    display:inline-block;
    margin-left: 20px;
    cursor:pointer;
}

#organizations h2{
    margin-top:25px;
    border-bottom:1px solid grey;
}

table.users{
    margin-top:-11px;
}