#wrapper {
    padding:0px;
    margin:0px;
    padding-left: 50px;
}

.sidebar {
    margin-top:0px;
    margin-left: -250px;
    left: 250px;
    width: 250px;
    background: #eee;
    position: fixed;
    overflow-y: auto;
    z-index: 1000;
}

.page-content {
    width: 100%;
    padding-left:0px;
    max-width:1280px
}

#sidebar-open {
    float:left;
    margin-right:10px;
}

#sidebar-close {
    float:right; 
    cursor:pointer; 
    padding:10px;
}

/*------------*/

#actions{
text-align: right;
margin: 45px 25px 10px;
}

#actions div{
    display:inline-block;
    margin-left: 20px;
    cursor:pointer;
}

#organizations h2{
    margin-top:25px;
    border-bottom:1px solid grey;
}

table.users, table.distribution-points {
    margin:-11px 25px 0 55px;
}
.alert{
    margin-bottom:0
}

h3{
    margin-left:50px
}

#preparation .distribution-point{
    border:1px solid grey;
    width:200px;
    text-align:center;
    padding:20px;
    font-size:25px;
    margin:25px;
    background:#d2d3d4;
    cursor:pointer;
}

#preparation table{
    max-width:600px;
}

#preparation input[type=number]{
    width:50px;
}

#items table{
    max-width:360px
}

#items h2{
    margin-top:35px;
}

.pointer{
    cursor: pointer;
}